@canvasMarginTop : 70px;
@headerColor: #0288D1;
@toolbarColor: #039BE5;

* {
  box-sizing: border-box;
}

body{
  color:#333;
  font-family:"RobotoDraft","Roboto", sans-serif;
  -webkit-font-smoothing:antialiased;
  line-height:1em
}

.header-panel {
  background-color: @headerColor;
  height: 144px;
  position: relative;
  z-index: 3;
}

.header-panel div {
  position: relative;
  height: 100%;
}

.header-panel h1 {
  color: #FFF;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  bottom: 10px;
  padding-left: 35px;
}


.menu {
  overflow: auto;
  padding: 0;
}

.pages {
  position: absolute;
  top: @canvasMarginTop;
  right: 0;
  z-index: 4;
  padding: 0;
  overflow: auto;
  background-color:#f0f0f0;
}


#splash {
  width: 660px;
  height: 540px;
  background-image: url(../images/splash.png);
}


#newFileButton{
  z-index: 10000;
  position: absolute;
  top:  @canvasMarginTop - 30px;
  right: 25px;
  display:none;
}


#draw2dObjectPalette{
  margin-left:25%;
  top:@canvasMarginTop;
  background-color: @toolbarColor;
}


.palette_node_element{
  height:60px;
  cursor:move;
  margin-right:30px;
}

#logo{
  margin-top: 10px;
  margin-left: 10%;
}

#githubButton{
  margin-top:100px;
}

#githubNavigation{
  padding-top:30px;
}

#githubCommmitButton img{
  height:30px;

}
#githubCommmitButton span{
  position: relative;
  top: 3px;
  left: 5px;
}

.connected{
  background-color: green;
}

body.modal-open #content{
  -webkit-filter: blur(2px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

#documentTitle{
  position:absolute;
  top:10px;
  right:20px;
  color:white;
}

a[data-draw2d="true"]{
    color: #0288d1;
    text-decoration: underline;
}


a[data-draw2d="true"]:hover{
  color: #0288d1;
  text-decoration: underline;
}

.connected{
  background-color:#E0E0E0;
  color:white;
}


